@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&family=Matemasie&family=Rubik+Vinyl&display=swap');


body{
    /* background-image: url("../images/to_do_list_background.g");
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;  */
    background-color: #168aad;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-family:"Rubik Vinyl";
    font-size: 40px;
    color: #d9ed92;
   
 
}
